<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254349623988-bd22lm46087hflm342m1coaak5cgtg8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254349623988-bd22lm46087hflm342m1coaak5cgtg8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAI64p5R6wRbnoe0W4A0wVL418UToEDev0</string>
	<key>GCM_SENDER_ID</key>
	<string>254349623988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beobmun.vote</string>
	<key>PROJECT_ID</key>
	<string>vote-59bad</string>
	<key>STORAGE_BUCKET</key>
	<string>vote-59bad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254349623988:ios:0826fdf89157988b26cde1</string>
</dict>
</plist>